<html>
  <head>
    <link rel="stylesheet" href="/style.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css" integrity="sha384-B0vP5xmATw1+K9KRQjQERJvTumQW0nPEzvF6L/Z6nronJ3oUOFUFpCjEUQouq2+l" crossorigin="anonymous">
  </head>
  <body>
    <div style="display: flex; margin: 20px">
      <div style="width: 150px; float: left; padding: 5px">
        <img height="200px" src="<%= movie['Poster'] %>"/>
      </div>
      <div style="flex-grow: 1; padding-left: 5px">
        <div style="font-size: 22px">
          <a href="https://www.imdb.com/title/<%= movie['imdbID'] %>/" target="_blank">
            <%= movie['Title'] %>
          </a>
        </div>
        <div>Released <%= movie['Year'] %></div>
        <div>Rated <%= movie['Rated'] %></div>
        <div>Directed by <%= movie['Director'] %></div>
        <div>Starring <%= movie['Actors'] %></div>
      </div>
    </div>
    <form action="/fav-notes" method="post" id="fav-notes-form">
      <div class="form-group">

      <div class="input-group">
        <input class="form-control" type="text" name="notes" value="<%= notes %>" placeholder="Your notes">
        <label for="favorite">Favorite?</label>
        <input class="form-control" type="checkbox" name="favorite">
        <input type="hidden" name="movieId" value="<%= imdbID %>">
        <div class="input-group-append">
          <button class="btn btn-outline-primary" type="submit">Save</button>
        </div>
      </div>

      </div>
    </form>

    <p><%= notes %></p>
    <% if (favorite) { %>
      <strong>FAVORITE! :)</strong>
    <% } %>
    <div style="margin-left: 25px">
      <button onclick="javascript:history.back()" class="btn btn-primary btn-sm">Back</button>
    </div>
  </body>
</div>
